[class*="btn__"] {
  @include btn-variant(
    #1e88e5,
    #64b5f6,
    #42a5f5,
    #bbdefb,
    #e3f2fd,
    #90caf9,
    #1976d2
  );
  &.btn-flat {
    @include btn-flat(#1e88e5, #64b5f6, #42a5f5, #bbdefb, #e3f2fd, #90caf9);
  }
}

.btn {
  margin-right: .2rem;

  &__col, &__log-in, &__log-out{
  margin-right: .2rem;
  width: 8.9rem;
  }
  &__history {
    width: 8.5rem;
  }
  &__log-in {
    position: absolute;
    visibility: visible;
  }
  &__log-out {
    visibility: hidden;
    //  z-index: -1;
    position: absolute;
  }
  &__sign-in {
    width: 7.9rem;
  }
}
