$color-white-grey-1:rgb(230, 223, 223);
$color-white-grey-2:rgb(241, 241, 241);
$color-dark-grey-1:rgb(156, 156, 156);
$color-dark-grey-2:rgb(129, 127, 133);
$color-dark-red-1:rgb(211, 25, 25);
$btn-font-color: rgba(247, 245, 245, 0.808);
$background-color: rgb(50,55,58);




